@import 'layout/root';
@import 'layout/font';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: #fff;
  font-family: 'Mont', sans-serif;
  color: #161616;
  scroll-behavior: smooth;
}

.title{
  font-weight: normal;
  font-size: 48px;
  line-height: 77px;
  color: #161616;
  font-weight: 600;

  &::first-letter{
    color: #008D17;
  }

  @include media($xxl){
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }
}

a{
  text-decoration: none;
}

.p{
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 216.8%;
  letter-spacing: -0.03em;
  color: #161616;

  &.small{
    font-size: 18px;
    line-height: 216.8%;

    @include media($xxl){
      font-size: 12px;
    }
  }

  & .green{
    color: #008D17;
    font-weight: 600;
  }

  @include media($xxl){
    font-size: 12px;
    line-height: 216.8%;
    text-align: center;
    font-weight: 400;
  }
}

.btn{
  background: #008D17;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;

  @include media($xxl){
    font-size: 12px;
    line-height: 15px;
  }
}

.abs{
  position: absolute;
  background: rgba(0, 141, 23, 0.5);
  backdrop-filter: blur(5px);
  width: 40px;
  height: 40px;
  
  &__top{
    top: -15px;
    left: -15px;

    @include media($lg){
      top: -8px;
      left: 0;
    }
  }
  &__bottom{
    bottom: -15px;
    right: 0px;

    @include media($xxl){
      bottom: -15px;
      right: -15px;
    }

    @include media($lg){
      bottom: -4px;
      right: 0;
    }
  }

  @include media($lg){
    width: 20px;
    height: 14px;
  }
}

[class*="imagine"]{

  &::before{
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    width: 160px;
    height: 40px;
    background: rgba(0, 141, 23, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;

    @include media($xxl){
      right: -15px;
    }

    @include media($lg){
      width: 90px;
      height: 14px;
      top: -8px;
      right: 0;
    }
  }

  &::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: -15px;
    width: 160px;
    height: 40px;
    background: rgba(0, 141, 23, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;

    @include media($lg){
      width: 90px;
      height: 14px;
      bottom: -4px;
      left: 0;
    }
  }

  
  @include media($xxl){
    position: relative;
    max-width: 100%;
    width: 100%;
    max-height: 500px;
    height: 100%;
    margin: 0 auto;
  }
  @include media($xl){
    max-width: 100%;
    width: 100%;
    max-height: max-content;
    height: max-content;  
    aspect-ratio: 2 / 1;
  }
}

.img{
  position: relative;


  @include media($xxl){
    max-width: 100%;
    max-height: 500px;
  }
  @include media($lg){
    aspect-ratio: 2 / 1;
  }
}

[class*="content"]{
  max-width: calc(100% - 600px);

  @include media($xxl){
    padding-bottom: 32px;
    max-width: 100%;
    width: 100%;
  }
}

//=========================================================
//============================header=======================
//=========================================================

.header{
  padding: 15px 0;

  &__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include media($sm){
      justify-content: space-between;
      padding: 0 25px;
    }
  }

  &__logo{

    &__img{
      max-width: 75px;
      max-height: 75px;
      width: 100%;
      height: 100%;

      @include media($xxl){
        width: 45px;
        height: 45px;
      }
    }
  }

  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &.dn{
      display: flex;

      @include media($xxl){
        display: none;
      }
    }

    @include media($xxl) {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
      right: 0;
      background: #141414;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s transform ease-out;
      padding-top: 50px;
      z-index: 50;
      justify-content: start;

      &.open {
        transform: translateX(0);

        .header__link{
          color: #fff;
        }
      }
    }
  }

  &__li{

    @include media($xxl){
      margin: 15px 0;
    }  

    &.dn{
      display: none;

      @include media($xxl){
        display: block;
      }
    }
  }

  &__link{
    margin: 0 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;

    &.dark{
      color: #161616;
    }

    &.current{
      position: relative;

      &::before{
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 5px;
        background: #008D17;
      }
    }
  }

  &__button {
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    outline: none;
    background: none;
    display: none;
    z-index: 111;

    @include media($xxl) {
      display: block;
    }

    &.dark {
      &::before,
      &::after,
      .header__button-line {
        transition: 0.5s;
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        height: 2px;
        background: #141414;
      }

      &.open{

        &::before,
        &::after,
        .header__button-line {
          transition: 0.5s;
          position: absolute;
          content: "";
          left: 0;
          width: 100%;
          height: 2px;
          background: #fff;
        }
      }
    }

    &.open {
      position: fixed;
      top: 26px;
      right: 23.6%;

      @include media($sm){
        right: 25px;
      }

      .header__button-line,
      &::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
      }

      &::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }

    &::before,
    &::after,
    &-line {
      transition: 0.5s;
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
    }

    &::before {
      top: 20%;
    }

    &::after {
      bottom: 20%;
    }

    &-line {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


//=========================================================
//============================intro========================
//=========================================================

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -115px;
  padding-top: 150px;
  background: url(../images/intro.webp) center / cover no-repeat;

  @include media($sm){
    padding: 150px 15px 0;
  }

  &__title{
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 154px;
    text-align: center;
    color: #FFFFFF;

    @include media($xxl){
      font-size: 28px;
      line-height: 45px;
    }
  }

  &__subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 100px;

    @include media($xxl){ 
      font-size: 18px;
      line-height: 29px;
      margin-top: 5px;
      margin-bottom: 50px;
    }
  }

  &__btn{
    padding: 22px 110px;
    margin-bottom: 100px;

    @include media($xxl){
      padding: 10px 30px;
    }
  }

  &__link{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;

    @include media($xxl){
      font-size: 13px;
      line-height: 17px;
    }
  }

  &__p{
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 120px;
    text-align: center;

    @include media($xxl){
      font-size: 13px;
      line-height: 17px;
      max-width: 400px; 
    }
  }
}

//=========================================================
//============================about========================
//=========================================================

.about{
  position: relative;
  margin-top: 100px;

  @include media($xxl){
    margin-top: 50px;
  }

  &__row{

    @include media($xxl){
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.container{
    display: flex;
    max-width: 100%;
  }

  &__imagine{
    position: absolute;
    top: 0;
    right: 0;

    @include media($xxl){
      display: none;
    }
  }

  &__img{
    max-width: 750px;
    width: 100%;
    max-height: 750px;
    height: 100%;
    object-fit: cover;
  }

  &__link{
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    margin-top: 20px;
    color: #141414;

    @include media($xxl){
      font-size: 13px;
      line-height: 182.8%;
      text-align: center;
    }

    .green{
      color: #008D17;
    }

    &:nth-of-type(2){
      margin: 0 30px;

      @include media($xxl){
        margin-top: 20px;
      }

      @include media($sm){
        margin: 20px 7px 0;
      }
    }
  }
}

//=========================================================
//============================hotel========================
//=========================================================

.hotel{
  margin-top: 100px;
  padding-bottom: 100px;

  @include media($xxl){
    padding-bottom: 0px;
    margin-top: 50px;
  }

  &__title{
    text-align: right;
  }
  &__p{
    text-align: right;
    margin-bottom: 50px;

    @include media($xxl){
      margin-bottom: 30px;
    }
  }

  &__items{
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include media($xl){
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item{
    max-width: 500px;
    width: 32%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

    &:last-of-type{

      @include media($xl){
        margin-bottom: 0px;
      }
    }

    @include media($xl){
      width: 100%;
      margin-bottom: 50px;
    }

    &__img{
      max-width: 100%;
      max-height: 400px;
      height: 100%;
      object-fit: cover;
    }

    &__title{
      margin-top: 20px;
      font-weight: 600;
      font-size: 22px;
      line-height: 46px;
      text-align: center;
      color: #161616;
      margin-bottom: 15px;
    }

    &__btns{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }

    &__btn{
      max-width: 500px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #FFFFFF;
      border: 1px solid #008D17;
      box-sizing: border-box;
      height: 50px;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #161616;

      &.green{
        background: #008D17;
        color: #FFFFFF;
      }
    }

    &__row{
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    &__p{
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #161616;

      @include media($md){
        font-size: 12px;
      } 

      span{
        font-weight: 600;
        font-size: 20px;
        line-height: 33px;
        color: #161616;

        @include media($md){
          font-size: 16px;
        } 
      }
    }

    &__price{
      font-weight: 300;
      font-size: 36px;
      line-height: 46px;
      margin-top: 20px;

      @include media($md){
        font-size: 24px;
        line-height: 31px;
      }

      span{
        font-weight: 800;
      }
    }
  }
}

//=========================================================
//===========================services======================
//=========================================================

.services{
  background: url(../images/services.webp) center / cover no-repeat;
  margin-top: 150px;
  color: #fff;
  padding-bottom: 50px;
  margin-bottom: 100px;

  @include media($xxl){
    margin-top: 50px;
  }

  &__title{
    color: #fff;  
    text-align: right;
    padding-top: 50px;
    padding-bottom: 50px;

    @include media($xxl){
      padding-bottom: 30px;
    }
  }

  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    max-width: 100%;
    width: 100%;

    &__title{
      max-width: 400px;
      width: 100%;
      font-weight: 600;
      font-size: 22px;
      line-height: 180%;
      color: #FFFFFF;

      @include media($md){
        max-width: 140px;
        font-size: 14px;
        line-height: 25px;
      }

      span{
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;

        @include media($md){
          max-width: 160px;
          font-size: 12px;
          line-height: 21px;
        }
      }
    }
  }

  &__price{
    font-weight: 600;
    font-size: 36px;
    line-height: 180%;
    color: #FFFFFF;

    @include media($md){
      font-size: 16px;
      line-height: 180%;
    }
  }
}

//=========================================================
//===========================gallery=======================
//=========================================================


.gallery{
  margin-top: 100px;

  &__title{
    margin-bottom: 40px;
    text-align: right;
  }

  &__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include media($lg){
      justify-content: center;
    }
  }

  .gallery__item{
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    max-width: 300px;
    cursor: pointer;
    overflow: hidden;

    &:nth-of-type(even){

      @include media($lg){
        margin-left: 10px;
      }
    }
    &:nth-of-type(odd){

      @include media($lg){
        margin-right: 10px;
      }
    }

    @include media($lg){
      max-width: 45%;
      width: 100%;
    }

    &:hover img{
      transform: scale(1.1);
    }

    &__img{
      max-width: 100%;
      width: 100%;
      height: 100%;
      transition: 300ms;
      object-fit: cover;
      object-position: center;
    }

    &__p{
      height: 55px;
      margin-top: -55px;
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(5px);
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @include media($md){
        font-size: 12px;
        line-height: 15px;
        height: 24px;
        margin-top: -26px;
      }
    }
  }
}

//=========================================================
//==========================contacts=======================
//=========================================================

#contacts{
  margin-bottom: 250px;

  @include media($xxl){
    margin-bottom: 50px;
  }
}


//=========================================================
//==========================footer=========================
//=========================================================

.footer{
  background: #161616;
  padding: 15px;

  &__row{
    display: flex;
    margin: 0 auto;
    width: max-content;
    margin-top: 50px;
  }

  & .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(400){
      flex-direction: column;
    }
  }

  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media($xxl){
      flex-direction: column;
    }
  }

  &__li{
    @include media($xxl){
      margin-bottom: 15px;
    }
  }


  &__link{
    margin: 0 20px;
    color: #fff;

    @include media($xxl){
      font-size: 13px;
      line-height: 17px;
    }

    &__p{
      color: #fff;
      margin: 0 auto;
      text-align: center;
      margin-top: 15px;

      @include media($xxl){
        font-size: 12px;
        line-height: 15px;
        text-align: center;
      }
    }
    
   

    &.current{
      position: relative;

      &::before{
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 5px;
        background: #008D17;
      }
    }
  }
}

//=========================================================
//==========================bron===========================
//=========================================================

.bron{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../images/bron.webp) center / cover no-repeat;

  &__container{
    margin: auto;
    padding: 0 50px;
    max-width: 585px;
    width: 100%;
  }

  &__title{
    font-size: 36px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 50px;

    @include media($xxl){
      font-size: 36px;
      line-height: 120%;
      color: #fff;
      margin-bottom: 50px;
      text-align: left;
    }

    @include media($sm){
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 10px;

      @include media($sm){
        flex-direction: column;
        margin-top: 0;
      }
    }

    &__input-div{
      display: flex;
      align-items: center;
      width: 48%;
      justify-content: center;
      border-bottom: 2px solid #FFFFFF;

      @include media($sm){
        width: 100%;
        align-items: flex-end;
      }

      svg{
        cursor: pointer;

        @include media($sm){
          width: 18px;
          height: 20px;
          margin-bottom: 12px;
        }
      }
    }

    &__btn{
      background: #008D17;
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 50px;
      width: 100%;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      font-family: inherit;
      cursor: pointer;

      @include media($sm){
        font-size: 12px;
        line-height: 15px;
        height: 35px;
      }
    }
  }

  &__input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    padding: 12px;
    font-family: inherit;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-top: 10px;

    @include media($sm){
      font-size: 13px;
      line-height: 17px;
    }

    &:first-of-type{
      margin-top: 0;

      @include media($sm){
        margin-top: 10px;
      }
    }

    &:focus{
      outline: none;
    }

    &::placeholder{
      font-family: inherit;
      color: #fff;
    }

    &.small{
      width: 100%;
      border-bottom: none;
    }
  }
}

//=========================================================
//=========================category========================
//=========================================================

.category{
  margin-top: 50px;
  margin-bottom: 50px;

  &__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #828282;
  }

  &__devider{
    margin: 0 10px;
  }
}

//=========================================================
//==========================place==========================
//=========================================================

.place{
  margin-bottom: 200px;

  &__row{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 30px;

    @include media($xl){
      flex-direction: column;
      justify-content: start;
    }
  }

  &__subtitle{
    font-size: 36px;
    line-height: 58px;
    margin-bottom: 20px;

    @include media($xxl){
      text-align-last: left;
    }
    @include media($xl){
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 25px;
    }
  }


  &__video{
    max-width: 583px;
    width: 100%;

    @include media($xl){
      max-width: 100%;
    }
    
    &__content{
      width: 100%;
    }

    &__items{

      @include media($xl){
        display: flex;
        justify-content: space-between;
      }
    }

    &__item{
      position: relative;
      margin-bottom: 30px;
      height: 576px;
      aspect-ratio: 1/1;
      cursor: pointer;

      @include media($xl){
        width: 48%;
        height: max-content;
      }


      &__img{
        object-fit: cover;
        max-width: 100%;
        width: 100%;
        height: 100%;
      }

      &__play-icon{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        @include media($lg){
          width: 46px;
          height: 46px;
        }
        @include media($sm){
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

//=========================================================
//==========================photo==========================
//=========================================================

.photo{
  display: flex;
  flex-direction: column;
  max-width: 45%;
  width: 100%;

  @include media($xl){
    max-width: 100%;
  }


  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item{
    max-width: 48%;
    height: 273px;
    margin-bottom: 30px;
    aspect-ratio: 1/1;

    @include media($xl){
      max-width: 48%;
      width: 100%;
      height: max-content;
    }
  }
}

//=========================================================
//==========================room===========================
//=========================================================

.room{
  padding-bottom: 200px;

  @include media($lg){
    padding-bottom: 100px;
  }

  &__title{
    margin-bottom: 20px;

    @include media($xxl){
      margin-bottom: 25px;
    }
  }

  &__sides{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media($xxl){
      flex-direction: column;
    }
  }

  &__subtitle{
    color: #141414;
    margin-bottom: 20px;

    @include media($xxl){
      font-size: 14px;
      line-height: 171.8%;
    }

    span{
      font-weight: 600;
      margin-bottom: 10px;
      color: #4F4F4F;
    }
  }

  &__btn{
    height: 67px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #008D17;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;

    @include media($xxl){
      font-size: 12px;
      line-height: 15px;
      max-width: 212px;
      height: 35px;
      margin: 30px auto 0;
    }
  }

  &__about__row{
    display: flex;
  }

  &__about__row__big{

    @include media($xxl){
      display: flex;
      justify-content: space-between;
    }
  }

  &__subtitle__big{
    color: #141414;
    font-size: 28px;
    margin-bottom: 20px;

    span{
      font-weight: 600;
      margin-bottom: 10px;
      color: #4F4F4F;
    }
  }

  &__about{
    max-width: 500px;

    @include media($xxl){
      max-width: 100%;
      width: 100%;
      order: 1;
      margin-top: 15px;
    }
  }

  &__images{
    max-width: 850px;
    width: 100%;
    margin-top: -80px;

    @include media($xxl){
      max-width: 100%;
      width: 100%;
      margin-top: 0;
    }

    &__row{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__img{
    width: 30%;

    &.big{
      width: 100%;
      margin-bottom: 35px;
    }
  }
}