@import 'layout/root';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #161616;
}

.title{
  font-weight: normal;
  font-size: 48px;
  line-height: 77px;
  color: #161616;
  font-weight: 600;

  &::first-letter{
    color: #008D17;
  }

  @include media($xxl){
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }
}

.p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 216.8%;
  letter-spacing: -0.03em;
  color: #161616;

  & .green{
    color: #008D17;
    font-weight: 600;
  }

  @include media($xxl){
    font-size: 12px;
    line-height: 216.8%;
    text-align: center;
    font-weight: 400;
  }
}

.btn{
  background: #008D17;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;

  @include media($xxl){
    font-size: 12px;
    line-height: 15px;
  }
}

.abs{
  position: absolute;
  background: rgba(0, 141, 23, 0.5);
  backdrop-filter: blur(5px);
  width: 40px;
  height: 40px;
  
  &__top{
    top: -15px;
    left: -15px;

    @include media($lg){
      top: -8px;
      left: 0;
    }
  }
  &__bottom{
    bottom: -15px;
    right: 0px;

    @include media($xxl){
      bottom: -15px;
      right: -15px;
    }

    @include media($lg){
      bottom: -4px;
      right: 0;
    }
  }

  @include media($lg){
    width: 20px;
    height: 14px;
  }
}

[class*="imagine"]{

  &::before{
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    width: 160px;
    height: 40px;
    background: rgba(0, 141, 23, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;

    @include media($xxl){
      right: -15px;
    }

    @include media($lg){
      width: 90px;
      height: 14px;
      top: -8px;
      right: 0;
    }
  }

  &::after{
    content: '';
    position: absolute;
    bottom: -15px;
    left: -15px;
    width: 160px;
    height: 40px;
    background: rgba(0, 141, 23, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;

    @include media($lg){
      width: 90px;
      height: 14px;
      bottom: -4px;
      left: 0;
    }
  }

  
  @include media($xxl){
    position: relative;
    max-width: 100%;
    width: 100%;
    max-height: 500px;
    height: 100%;
    margin: 0 auto;
  }
  @include media($xl){
    max-width: 100%;
    width: 100%;
    max-height: max-content;
    height: max-content;  
    aspect-ratio: 2 / 1;
  }
}

.img{
  position: relative;


  @include media($xxl){
    max-width: 100%;
    max-height: 500px;
  }
  @include media($lg){
    aspect-ratio: 2 / 1;
  }
}

[class*="content"]{
  max-width: calc(100% - 650px);

  @include media($xxl){
    padding-bottom: 32px;
    max-width: 100%;
    width: 100%;
  }
}

//=========================================================
//============================header=======================
//=========================================================

.header{
  padding: 15px 0;

  &__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include media($sm){
      justify-content: space-between;
      padding: 0 25px;
    }
  }

  &__logo{

    &__img{
      max-width: 75px;
      max-height: 75px;
      width: 100%;
      height: 100%;

      @include media($xxl){
        width: 45px;
        height: 45px;
      }
    }
  }

  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &.dn{
      display: flex;

      @include media($xxl){
        display: none;
      }
    }

    @include media($xxl) {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
      right: 0;
      background: #141414;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s transform ease-out;
      padding-top: 50px;
      z-index: 50;
      justify-content: start;

      &.open {
        transform: translateX(0);
      }
    }
  }

  &__li{

    @include media($xxl){
      margin: 15px 0;
    }  

    &.dn{
      display: none;

      @include media($xxl){
        display: block;
      }
    }
  }

  &__link{
    margin: 0 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;

    &.current{
      position: relative;

      &::before{
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 5px;
        background: #008D17;
      }
    }
  }

  &__button {
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    outline: none;
    background: none;
    display: none;
    z-index: 111;

    @include media($xxl) {
      display: block;
    }

    &.open {

      .header__button-line,
      &::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
      }

      &::after {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }

    &::before,
    &::after,
    &-line {
      transition: 0.5s;
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
    }

    &::before {
      top: 20%;
    }

    &::after {
      bottom: 20%;
    }

    &-line {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


//=========================================================
//============================intro========================
//=========================================================

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -110px;
  padding-top: 150px;
  background: url(../images/intro.webp) center / cover no-repeat;

  @include media($sm){
    padding: 150px 15px 0;
  }

  &__title{
    font-family: 'Stinger Wide', 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 154px;
    text-align: center;
    color: #FFFFFF;

    @include media($xxl){
      font-size: 28px;
      line-height: 45px;
    }
  }

  &__subtitle{
    font-family: 'Stinger Wide', 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 87px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 100px;

    @include media($xxl){ 
      font-size: 18px;
      line-height: 29px;
      margin-top: 5px;
      margin-bottom: 50px;
    }
  }

  &__btn{
    padding: 22px 110px;
    margin-bottom: 100px;

    @include media($xxl){
      padding: 10px 30px;
    }
  }

  &__link{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;

    @include media($xxl){
      font-size: 13px;
      line-height: 17px;
    }
  }

  &__p{
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 120px;
    text-align: center;

    @include media($xxl){
      font-size: 13px;
      line-height: 17px;
      max-width: 400px; 
    }
  }
}

//=========================================================
//============================about========================
//=========================================================

.about{
  position: relative;
  margin-top: 100px;

  &.container{
    display: flex;
    max-width: 100%;
  }

  &__imagine{
    position: absolute;
    top: 0;
    right: 0;
  }

  &__img{
    max-width: 750px;
    width: 100%;
    max-height: 750px;
    height: 100%;
    object-fit: cover;
  }
}