doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Черная жемчужина
    link(rel="stylesheet", href="styles/index.css")
  body 
    header.header 
      nav.header__nav
        ul.header__list
          li.header__li.dn
            a(href="index.html#intro").header__link.link-1.dark Главная
          li.header__li.dn
            a(href="index.html#hotel").header__link.link-2.dark Гостиница
          li.header__li.dn
            a(href="index.html#restuarant").header__link.link-3.dark Ресторан
          li.header__li.dn
            a(href="index.html#services").header__link.link-4.dark Услуги и их стоимость
          li.header__li 
            a(href="index.html#contacts").header__link.link-5.dark Контакты 
          li.header__li 
            a(href="index.html#gallery").header__link.link-6.dark.current Фото и видео
          li.header__li 
            a(href="index.html#liman").header__link.link-7.dark Соленый лиман
          li.header__li 
            a(href="index.html#about").header__link.link-8.dark О нас
        a(href="index.html").header__logo
          img(src="images/logo-2.webp", alt="Черная жемчужина").header__logo__img
        ul.header__list.dn
          li.header__li 
            a(href="index.html#intro").header__link.link-9.dark Главная
          li.header__li 
            a(href="index.html#hotel").header__link.link-10.dark Гостиница
          li.header__li 
            a(href="index.html#restuarant").header__link.link-11.dark Ресторан
          li.header__li 
            a(href="index.html#services").header__link.link-12.dark Услуги и их стоимость
        button.header__button.dark 
          span.header__button-line.dark
    main.main 
      .category.container
        a(href="index.html").category__link Главная 
        svg(width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg").category__devider
          path(d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM1 4.5H16V3.5H1V4.5Z" fill="#828282")
        a(href="index.html#hotel").category__link Бронирование номера
        svg(width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg").category__devider
          path(d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM1 4.5H16V3.5H1V4.5Z" fill="#828282")
        a(href="#!").category__link VIP 
      .room.container
        h1.title.room__title Номер отель
        .room__sides
          .room__about
            .room__about__row__big
              p.services__row__title.room__subtitle <span>Площадь номера:</span>  <br> 25 м2, жилая часть 17 м2 
              p.services__row__title.room__subtitle <span>Тип номера:</span>  <br> VIP
            .room__about__row__big
              p.services__row__title.room__subtitle <span>Тип кровати:</span>  <br> Двуспальная кровать 180 х 200 см или 2 кровати 90 х 200 см
              p.services__row__title.room__subtitle <span>Ванная комната:</span>  <br> Совмещенная
            p.services__row__title.room__subtitle <span>Wi-fi:</span>  <br> Присутствует
            hr
            .room__about__row 
              p.services__row__title.room__subtitle__big <span>Одноместный:</span>  <br> От 700 грн
              p.services__row__title.room__subtitle__big <span>Двухместный:</span>  <br> От 1000 грн
            a(href="bron.html").room__btn Забронировать 
          .room__images
            img(src="images/vip-1.webp", alt="vip room").room__img.big
            .room__images__row 
              img(src="images/vip-2.webp", alt="vip room").room__img
              img(src="images/vip-3.webp", alt="vip room").room__img
              img(src="images/vip-4.webp", alt="vip room").room__img
        .room__desc 
          p.room__desc__p <span>Двухместный:</span>  <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam. Urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel.
          p.room__desc__p <span>Описание:</span>  <br> Уютный номер для размещения одного или двух человек.  Площадь номера  14,5 м2 В комнате одна большая кровать, прикроватные тумбочки, обеденный стол, чайник, стулья, мини-бар, телефон, телевизор, шкаф-купе. Комплимент от отеля - чай, сахар в номере. В ванной комнате: фен, ванна, туалет, бесплатные гигиенические принадлежности: мыло, шампунь, зубная щетка и паста, ватные палочки и диски, комплект полотенец, махровый халат и одна пара тапочек. Все номера оборудованы кондиционерами. В каждом номере нашего отеля работает бесплатный Wi-Fi. Утюг с гладильной доской – на каждом этаже.



    footer.footer 
      .container 
        ul.footer__list
          li.footer__li 
            a(href="#contacts").footer__link Контакты 
          li.footer__li 
            a(href="#gallery").footer__link Фото и видео
          li.footer__li 
            a(href="#liman").footer__link Соленый лиман
          li.footer__li 
            a(href="#about").footer__link О нас
        a(href="index.html").header__logo
          img(src="images/logo.webp", alt="Черная жемчужина").header__logo__img
        ul.footer__list.dn
          li.footer__li 
            a(href="#intro").footer__link Главная
          li.footer__li 
            a(href="#hotel").footer__link.current Гостиница
          li.footer__li 
            a(href="#restuarant").footer__link Ресторан
          li.footer__li 
            a(href="#services").footer__link Услуги и их стоимость
      .footer__row
        a(href="tel:+0676354140").footer__link__p <span class="green">(067)</span> 635-41-40;
        a(href="tel:+0676354140").footer__link__p <span class="green">(067)</span> 633-72-55;
        a(href="tel:+0676354140").footer__link__p <span class="green">(067)</span> 635-41-44;
      p.footer__link__p Днепропетровская область, Новомосковский р-н, с. Новотроицкое, ул. Герасименко 69


    script(src="scripts/index.js") 