doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Черная жемчужина
    link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet", href="styles/index.css")
  body 
    header.header 
      nav.header__nav
        ul.header__list
          li.header__li.dn
            a(href="#intro").header__link.link-1.current Главная
          li.header__li.dn
            a(href="#hotel").header__link.link-2 Гостиница
          li.header__li.dn
            a(href="#restuarant").header__link.link-3 Ресторан
          li.header__li.dn
            a(href="#services").header__link.link-4 Услуги и их стоимость
          li.header__li 
            a(href="#contacts").header__link.link-5 Контакты 
          li.header__li 
            a(href="#gallery").header__link.link-6 Фото и видео
          li.header__li 
            a(href="#liman").header__link.link-7 Соленый лиман
          li.header__li 
            a(href="#about").header__link.link-8 О нас
        a(href="index.html").header__logo
          img(src="images/logo.webp", alt="Черная жемчужина").header__logo__img
        ul.header__list.dn
          li.header__li 
            a(href="#intro").header__link.link-9.current Главная
          li.header__li 
            a(href="#hotel").header__link.link-10 Гостиница
          li.header__li 
            a(href="#restuarant").header__link.link-11 Ресторан
          li.header__li 
            a(href="#services").header__link.link-12 Услуги и их стоимость
        button.header__button 
          span.header__button-line
    main.main 
      section.intro#intro
        h1.intro__title Черная жемчужина
        h2.intro__subtitle Оздоровительный комплекс
        a(href="#contacts").btn.intro__btn Смотреть номера
        a(href="#!").intro__link (067) 635-41-40; (067) 633-72-55; (067) 635-41-44
        p.intro__p Днепропетровская область, Новомосковский р-н, с. Новотроицкое,ул. Герасименко 69   
      section.about#about 
        .container 
          .about__content 
            h2.title.about__title О нашем комплексе
            p.p.about__p Мы приглашаем Вас в оздоровительный комплекс <span class="green">«Черная жемчужина»</span>, который находится всего в 50 км от города Днепропетровска, а ощущения от близости к природе просто потрясающие. Он расположен в курортной зоне Соленого лимана. Вы найдете у нас все необходимое для оздоровления и отдыха. Оздоровительный комплекс «Черная жемчужина» — отличное место для проведения банкетов, свадеб, корпоративов и юбилеев. Сочетание загородной тишины, красивая и ухоженная территория, создают уют,  и хорошее настроение. Наличие бассейна, бани, сауны придают комфортности вашему отдыху.
          .about__imagine 
            img(src="images/about.webp", alt="about").img.about__img
            .abs.abs__top
            .abs.abs__bottom
      section.nomers.container
        h1.title.nomers__title Наши номера
        section.hotel#hotel 
          .container 
            h2.title.hotel__title Номер
            p.p.hotel__p В нашей гостинице есть 3 вида номеров. Вы можете выбрать любой удобный для Вас номер или снять <span class="green">деревянный сруб</span>.
            .hotel__items.swiper-container.mySwiper
              .swiper-wrapper
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
            .swiper-pagination
        section.hotel#hotel 
          .container 
            h2.title.hotel__title Номер
            p.p.hotel__p В нашей гостинице есть 3 вида номеров. Вы можете выбрать любой удобный для Вас номер или снять <span class="green">деревянный сруб</span>.
            .hotel__items.swiper-container.mySwiper2
              .swiper-wrapper
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
            .swiper-pagination2
        section.hotel#hotel 
          .container 
            h2.title.hotel__title Номер
            p.p.hotel__p В нашей гостинице есть 3 вида номеров. Вы можете выбрать любой удобный для Вас номер или снять <span class="green">деревянный сруб</span>.
            .hotel__items.swiper-container.mySwiper3
              .swiper-wrapper
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
                .hotel__item.swiper-slide
                  img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
                  h3.hotel__item__title VIP
                  .hotel__item__row 
                    p.hotel__item__p Площадь: <span>25 м2</span>
                    p.hotel__item__p Мест: <span>1 место</span>
                  p.hotel__item__price <span>300 грн</span> / 1 сутки
                  .hotel__item__btns 
                    a(href="bron.html").hotel__item__btn.green Забронировать
                    a(href="hotel.html").hotel__item__btn Подробнее
            .swiper-pagination3
  
      section.about#restuarant 
        .container 
          .about__content 
            h2.title.about__title Ресторан
            p.p.about__p Мы приглашаем Вас в оздоровительный комплекс <span class="green">«Черная жемчужина»</span>, который находится всего в 50 км от города Днепропетровска, а ощущения от близости к природе просто потрясающие. Он расположен в курортной зоне Соленого лимана. Вы найдете у нас все необходимое для оздоровления и отдыха. Оздоровительный комплекс «Черная жемчужина» — отличное место для проведения банкетов, свадеб, корпоративов и юбилеев. Сочетание загородной тишины, красивая и ухоженная территория, создают уют,  и хорошее настроение. Наличие бассейна, бани, сауны придают комфортности вашему отдыху.
          .about__imagine 
            img(src="images/restaurant.webp", alt="Черная жемчужина").img.about__img
            .abs.abs__top
            .abs.abs__bottom
      section.services#services
        .container 
          h2.title.services__title Услуги и их стоимость
          .services__row
            p.services__row__title Русская баня <br> <span>(Свыше 6 человек: 100 грн / чел.)</span> 
            p.services__price 1 час
            p.services__price 550 грн
          .services__row
            p.services__row__title Аренда мангала без дров
            p.services__price 1 час
            p.services__price 50 грн
          .services__row
            p.services__row__title Открытый бассейн <br> <span>(Без проживания будни/выходные и праздничные)</span> 
            p.services__price 1 день
            p.services__price 100 грн
          .services__row
            p.services__row__title Аренда халата на время
            p.services__price 1 час
            p.services__price 50 грн
      section.about#liman 
        .container 
          .about__content 
            h2.title.about__title Соленый лиман
            p.p.about__p.small Соленый Лиман — озеро в Новомосковском районе Днепропетровской области Украины между селами Знаменовка и Новотроицкое. Расположено на окраине Самарского леса — большого массива хвойных и смешанных лесов. На дне озера находятся залежи грязи, обладающей лечебными свойствами. Грязь относится к муловым сульфидным грязям материкового типа, обладающим высокой пластичностью и вязкостью. Грязь имеет мелкодисперсный состав, содержание крупных частиц 0,25 г и больше — около 0,4 %. Для сохранения грязи на берегу озера возведено грязехранилище, обеспечивающее сохранность лечебных свойств грязи в течение долгого времени. Также вблизи Соленого Лимана расположены источники минеральных вод, используемые для водолечения. На основе ряда источников с 1961 года действует завод по производству минеральных вод «Новомосковский завод минводы». Завод производит воду с минерализацией 0,2-0,5 г/дм, относящуюся к столовым минеральным водам. Целебные свойства грязи озера были известны окрестным жителям с давних пор. Они использовали её для лечения ревматизма, подагры, радикулита и других заболеваний. Освоение лечебных грязей Соленого Лимана было начато в 1928 году, когда было принято решение о строительстве грязелечебного пункта на берегу лимана.
          .about__imagine 
            img(src="images/liman.webp", alt="liman").img.about__img
            .abs.abs__top
            .abs.abs__bottom
      section.gallery#gallery 
        .container
          h2.title.gallery__title Фото и видео
          .gallery__row
            a(href="gallery.html").gallery__item
              img(src="images/gallery-1.webp", alt="gallery").gallery__item__img
              p.gallery__item__p Деревянный сруб
            a(href="gallery.html").gallery__item
              img(src="images/gallery-2.webp", alt="gallery").gallery__item__img
              p.gallery__item__p Для детей
            a(href="gallery.html").gallery__item
              img(src="images/gallery-3.webp", alt="gallery").gallery__item__img
              p.gallery__item__p Спортивный зал
            a(href="gallery.html").gallery__item
              img(src="images/gallery-4.webp", alt="gallery").gallery__item__img
              p.gallery__item__p Летний павильон для банкетов
            a(href="gallery.html").gallery__item
              img(src="images/gallery-5.webp", alt="gallery").gallery__item__img
              p.gallery__item__p Открытый бассейн
            a(href="gallery.html").gallery__item
              img(src="images/gallery-6.webp", alt="gallery").gallery__item__img
              p.gallery__item__p Русская баня
            a(href="gallery.html").gallery__item
              img(src="images/gallery-7.webp", alt="gallery").gallery__item__img
              p.gallery__item__p Салон красоты
            a(href="gallery.html").gallery__item
              img(src="images/gallery-8.webp", alt="gallery").gallery__item__img
              p.gallery__item__p Территория
      section.about#contacts 
        .container 
          .about__content 
            h2.title.about__title Контакты
            .about__row
              a(href="tel:+0676354140").about__link <span class="green">(067)</span> 635-41-40
              a(href="tel:+0676354140").about__link <span class="green">(067)</span> 633-72-55
              a(href="tel:+0676354140").about__link <span class="green">(067)</span> 635-41-44
            p.about__link Днепропетровская область, Новомосковский р-н, с. Новотроицкое, ул. Герасименко 69
          .about__imagine.dn 
            img(src="images/map.webp", alt="liman").img.about__img
            .abs.abs__top
            .abs.abs__bottom
    footer.footer
      include components/footer.pug 
      +footer

    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js")
    script(src="scripts/home.js") 
    script(src="scripts/index.js") 
    script(src="scripts/slider.js")
