doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Черная жемчужина
    link(rel="stylesheet", href="styles/index.css")
  body 
    header.header 
      nav.header__nav
        ul.header__list
          li.header__li.dn
            a(href="#!").header__link.current Главная
          li.header__li.dn
            a(href="#!").header__link Гостиница
          li.header__li.dn
            a(href="#!").header__link Ресторан
          li.header__li.dn
            a(href="#!").header__link Услуги и их стоимость
          li.header__li 
            a(href="#!").header__link Контакты 
          li.header__li 
            a(href="#!").header__link Фото и видео
          li.header__li 
            a(href="#!").header__link Соленый лиман
          li.header__li 
            a(href="#!").header__link О нас
        a(href="index.html").header__logo
          img(src="images/logo.webp", alt="").header__logo__img
        ul.header__list.dn
          li.header__li 
            a(href="#!").header__link.current Главная
          li.header__li 
            a(href="#!").header__link Гостиница
          li.header__li 
            a(href="#!").header__link Ресторан
          li.header__li 
            a(href="#!").header__link Услуги и их стоимость
        button.header__button 
          span.header__button-line
    main.main 
      section.intro
        h1.intro__title Черная жемчужина
        h2.intro__subtitle Оздоровительный комплекс
        a(href="#!").btn.intro__btn Смотреть номера
        a(href="#!").intro__link (067) 635-41-40; (067) 633-72-55; (067) 635-41-44
        p.intro__p Днепропетровская область, Новомосковский р-н, с. Новотроицкое,ул. Герасименко 69   
      section.about 
        .container 
          .about__content 
            h2.title.about__title О нашем комплексе
            p.p.about__p Мы приглашаем Вас в оздоровительный комплекс <span class="green">«Черная жемчужина»</span>, который находится всего в 50 км от города Днепропетровска, а ощущения от близости к природе просто потрясающие. Он расположен в курортной зоне Соленого лимана. Вы найдете у нас все необходимое для оздоровления и отдыха. Оздоровительный комплекс «Черная жемчужина» — отличное место для проведения банкетов, свадеб, корпоративов и юбилеев. Сочетание загородной тишины, красивая и ухоженная территория, создают уют,  и хорошее настроение. Наличие бассейна, бани, сауны придают комфортности вашему отдыху.
          .about__imagine 
            img(src="images/about.webp", alt="").img.about__img
            .abs.abs__top
            .abs.abs__bottom
      section.hotel 
        .container 
          h2.title.hotel__title Гостиница
          p.p.hotel__p В нашей гостинице есть 3 вида номеров. Вы можете выбрать любой удобный для Вас номер или снять <span class="green">деревянный сруб</span>.
          .hotel__items 
            .hotel__item  
              img(src="images/hotel-1.webp", alt="hotel").hotel__item__img
              h3.hotel__item__title VIP
              .hotel__item__row 
                p.hotel__item__p Площадь: <span>25 м2</span>
                p.hotel__item__p Мест: <span>1 место</span>
              p.hotel__item__price <span>300 грн</span> / 1 сутки
              .hotel__item__btns 
                a(href="#!").hotel__item__btn.green Забронировать
                a(href="#!").hotel__item__btn Подробнее
            .hotel__item  
              img(src="images/hotel-2.webp", alt="hotel").hotel__item__img
              h3.hotel__item__title Деревянный сруб
              .hotel__item__row 
                p.hotel__item__p Площадь: <span>70 м2</span>
                p.hotel__item__p Мест: <span>2 место</span>
              p.hotel__item__price <span>500 грн</span> / 1 сутки
              .hotel__item__btns 
                a(href="#!").hotel__item__btn.green Забронировать
                a(href="#!").hotel__item__btn Подробнее
            .hotel__item  
              img(src="images/hotel-3.webp", alt="hotel").hotel__item__img
              h3.hotel__item__title Отель
              .hotel__item__row 
                p.hotel__item__p Площадь: <span>100 м2</span>
                p.hotel__item__p Мест: <span>1, 2 места</span>
              p.hotel__item__price <span>700 грн</span> / 1 сутки
              .hotel__item__btns 
                a(href="#!").hotel__item__btn.green Забронировать
                a(href="#!").hotel__item__btn Подробнее
      section.about 
        .container 
          .about__content 
            h2.title.about__title Ресторан
            p.p.about__p Мы приглашаем Вас в оздоровительный комплекс <span class="green">«Черная жемчужина»</span>, который находится всего в 50 км от города Днепропетровска, а ощущения от близости к природе просто потрясающие. Он расположен в курортной зоне Соленого лимана. Вы найдете у нас все необходимое для оздоровления и отдыха. Оздоровительный комплекс «Черная жемчужина» — отличное место для проведения банкетов, свадеб, корпоративов и юбилеев. Сочетание загородной тишины, красивая и ухоженная территория, создают уют,  и хорошее настроение. Наличие бассейна, бани, сауны придают комфортности вашему отдыху.
          .about__imagine 
            img(src="images/restaurant.webp", alt="").img.about__img
            .abs.abs__top
            .abs.abs__bottom
      section.services 
        .container 
          h2.title.services__title Услуги и их стоимость
          .services__row
            p.services__row__title Русская баня <br> <span>(Свыше 6 человек: 100 грн / чел.)</span> 
            p.services__price 1 час
            p.services__price 550 грн
          .services__row
            p.services__row__title Аренда мангала без дров
            p.services__price 1 час
            p.services__price 50 грн
          .services__row
            p.services__row__title Открытый бассейн <br> <span>(Без проживания будни/выходные и праздничные)</span> 
            p.services__price 1 день
            p.services__price 100 грн
          .services__row
            p.services__row__title Аренда халата на время
            p.services__price 1 час
            p.services__price 50 грн
      section.about 
        .container 
          .about__content 
            h2.title.about__title Соленый лиман
            p.p.about__p.small Соленый Лиман — озеро в Новомосковском районе Днепропетровской области Украины между селами Знаменовка и Новотроицкое. Расположено на окраине Самарского леса — большого массива хвойных и смешанных лесов. На дне озера находятся залежи грязи, обладающей лечебными свойствами. Грязь относится к муловым сульфидным грязям материкового типа, обладающим высокой пластичностью и вязкостью. Грязь имеет мелкодисперсный состав, содержание крупных частиц 0,25 г и больше — около 0,4 %. Для сохранения грязи на берегу озера возведено грязехранилище, обеспечивающее сохранность лечебных свойств грязи в течение долгого времени. Также вблизи Соленого Лимана расположены источники минеральных вод, используемые для водолечения. На основе ряда источников с 1961 года действует завод по производству минеральных вод «Новомосковский завод минводы». Завод производит воду с минерализацией 0,2-0,5 г/дм, относящуюся к столовым минеральным водам. Целебные свойства грязи озера были известны окрестным жителям с давних пор. Они использовали её для лечения ревматизма, подагры, радикулита и других заболеваний. Освоение лечебных грязей Соленого Лимана было начато в 1928 году, когда было принято решение о строительстве грязелечебного пункта на берегу лимана.
          .about__imagine 
            img(src="images/liman.webp", alt="").img.about__img
            .abs.abs__top
            .abs.abs__bottom

    script(src="scripts/index.js") 
