doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Черная жемчужина
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles/index.css")
  body 
    header.header 
      nav.header__nav
        ul.header__list
          li.header__li 
            a(href="#!").header__link Контакты 
          li.header__li 
            a(href="#!").header__link Фото и видео
          li.header__li 
            a(href="#!").header__link Соленый лиман
          li.header__li 
            a(href="#!").header__link О нас
        a(href="index.html").header__logo
          img(src="images/logo.webp", alt="").header__logo__img
        ul.header__list
          li.header__li 
            a(href="#!").header__link.current Главная
          li.header__li 
            a(href="#!").header__link Гостиница
          li.header__li 
            a(href="#!").header__link Ресторан
          li.header__li 
            a(href="#!").header__link Услуги и их стоимость
        button.header__button 
          span.header__button-line
    main.main 
      section.intro
        h1.intro__title Черная жемчужина
        h2.intro__subtitle Оздоровительный комплекс
        a(href="#!").btn.intro__btn Смотреть номера
        a(href="#!").intro__link (067) 635-41-40; (067) 633-72-55; (067) 635-41-44
        p.intro__p Днепропетровская область, Новомосковский р-н, с. Новотроицкое,ул. Герасименко 69   
